<!--The whole content below can be removed with the new code.-->
<div class="main-component">

    <nav class="navbar navbar-ct-info" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">List of pins</span>
            </div>

            <div class="collapse navbar-collapse" id="pins-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            ID 0
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           ID 1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            ID 2
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            ID 3
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            ID 4
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            ID 5
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            ID 6
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            ID 7
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="pins-container">

        <pin-controller></pin-controller>

        <router-outlet></router-outlet>

    </div>

</div>
