/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/* Dodanie styli biblioteki UI Paper Kit - http://demos.creative-tim.com/paper-kit */

@import "assets/ct-paper.css";

/* Customowe style globalne */


/* Ostylowanie headera aplikacji */

.app_header {
    min-height: 350px;
    background-color: #FF8F5E;
    color: #FFFFFF;
    text-align: center;
}

.app_header_text_container {
    padding: 0 30px;
}

.app_header_title {
    margin: 0;
    margin-bottom: 30px;
}

.app_header_description {
    font-size: 20px;
}

.app_header [class*="navbar-ct"] .navbar-brand {
    opacity: 1.0;
}

.app_header .navbar-brand img {
    width: 70px;
}

.app_header .navbar-brand img:hover {
    animation: swinging 1s ease-in-out;
}

@keyframes swinging {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg)
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 767px) {
    .app_header .navbar-brand img {
        width: 40px;
    }
}

.app_header .navbar-nav {
    padding-top: 35px;
    font-size: 18px;
}

.app_header .navbar-toggle {
    padding-top: 35px;
}

@media (min-width: 768px) {
    .app_header .navbar-nav li:last-child {
        padding-top: 3px;
    }
}

footer {
    height: 70px;
}

.section-dark {
    color: #777777;
}

.section-dark a {
    color: #777777;
}

.section-dark a:hover {
    color: #FFFFFF;
}

.fa-heart {
    color: #EB5E28;
    margin: 0 5px;
    animation: pulse 2s ease-in-out infinite;
}

.fa-beer {
    color: #FFA000;
    margin: 0 5px;
}

@media (max-width: 767px) {
    .fa-heart,
    .fa-beer {
        margin: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1.0);
    }
}

.copyright {
    position: relative;
    top: calc(70px / 2 - 11px);
    text-align: center;
}
